[Unit]
Description=Mr Burns Discord Bot
After=network-online.target

[Service]
Type=notify
ExecStart=/bin/bash -c "cd /opt/burns && node ."
ExecStop=/bin/bash -c "cd /opt/burns && node dist/kill.js"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
